.btn {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  transition: fill 0.3s ease-in-out;
}

.notFavorite {
  fill: transparent;
  stroke: var(--primary);
}

.default {
  fill: var(--default);
  stroke: var(--default);
}

.yellow {
  fill: var(--yellow);
  stroke: var(--yellow);
}

.green {
  fill: var(--green);
  stroke: var(--green);
}

.blue {
  fill: var(--blue);
  stroke: var(--blue);
}

.pink {
  fill: var(--pink);
  stroke: var(--pink);
}

.red {
  fill: var(--red);
  stroke: var(--red);
}
